# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linting and Testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        platform: ['ubuntu-latest']
        python-version: ['3.7', '3.8', '3.9']
        disable-cython-build: ['0', '1']

    runs-on: ${{ matrix.platform }}

    env:
        CHOLUPDATES_DISABLE_CYTHON_BUILD: ${{ matrix.disable-cython-build }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip
    - name: Build and install package
      run: |
        python -m pip install -e .[testing,linting,formatting]
    - name: Test with pytest
      run: |
        pytest --cov=cholupdates --no-cov-on-fail --cov-report=xml
      if: always()
    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
      if: startsWith(matrix.platform,'ubuntu') && matrix.python-version == '3.8'
    - name: Lint source with pylint
      run: |
        pylint src/cholupdates
      if: always()
    - name: Lint tests with pylint
      run: |
        pylint tests/cholupdates
      if: always()
    - name: Check formatting with black
      run: |
        black --check --diff .
      if: always()
    - name: Check formatting with isort
      run: |
        isort --check --diff .
      if: always()
